@model IEnumerable<MedicalClinicApp.Models.ViewModels.AppointmentViewModel>

@{
    var role = User.Claims.First(x => x.Type == "Role").Value;
}

<div class="card mb-4">
    <div class="card-body">
        <div class="mb-3">
            <h2>Записи к врачам</h2>
        </div>

        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <tr>
                    <th>Врач</th>
                    <th>Пациент</th>
                    <th>Дата и время приема</th>
                    <th>Кабинет</th>
                    <th>Статус</th>
                    @if (role == "3")
                    {
                        <th>
                            <a class="btn btn-primary float-end" asp-controller="Appointments" asp-action="SelectADoctor">Записаться на прием</a>
                        </th>
                    }
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.EmployeePostName @item.EmployeeFullName</td>
                        <td>@item.PatientFullName</td>
                        <td>@item.AppointmentDate.ToString("dd.MM.yyyy hh:mm")</td>
                        <td>@item.RoomNumber</td>
                        <td>@item.AppointmentStatusName</td>
                        @if (role == "3")
                        {
                            <td>
                                @if (item.AppointmentStatusId != 2)
                                {
                                    <a class="btn btn-primary float-end" asp-controller="Appointments" asp-action="CancelAppointment" asp-route-id="@item.AppointmentId">Отменить</a>
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>