@using MedicalClinicApp.Models.ViewModels
@model MedicalClinicApp.Models.ViewModels.EmployeeSelectionViewModel

<div class="row mb-3">
    <div class="col-auto me-auto">
        <h2>Выбор врача</h2>
        <div class="form-text"><i>*</i> - обязательные поля</div>
    </div>
    <div class="col-auto">
        <a asp-controller="Appointments" asp-action="Index">Вернуться к списку</a>
    </div>
</div>

<form asp-action="SelectADoctor" asp-controller="Appointments" method="post" enctype="multipart/form-data">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="mb-3">
            <label asp-for="EmployeeId" class="form-label">Врач<i>*</i></label>
            <select asp-for="EmployeeId" class="form-control form-control-sm" required>
                <option value="">Выберите врача</option>
                @foreach (EmployeePreviewViewModel item in ViewBag.Employees)
                {
                    <option value="@item.EmployeeId">@item.PostName @item.LastName @item.FirstName @item.SecondName</option>
                }
            </select>
            <span class="badge bg-danger" asp-validation-for="EmployeeId"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Date" class="form-label">Желаемая дата приема<i>*</i></label>
            <input type="text" asp-for="Date" class="form-control form-control-sm" placeholder="дд.мм.гггг" id="appointmentDate" required />
            <span class="badge bg-danger" asp-validation-for="Date"></span>
        </div>
        <div class="mb-3">
            <input type="submit" value="Выбрать" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>